* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $cream;
}

body {
  height: 100vh;
}

button {
}

input {
  outline: none;
  border: none;
}

p {
  font-size: 14px;
}
